*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: #FE6900;
  color: white;
  height: 90px;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
}

.flex{
  display: flex;
}

.col{
  max-width: 300px;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
  text-align: center;
}

.row{
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li{
  list-style: none;
  padding: 5px;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color:black
}

/* .debug{
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
} */

main .container{
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.card{
  position: relative;
  cursor: pointer;
  width: 300px;
  height: 500px;
  margin: 10px;
}

.immaginefissa{
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.immaginenascosta{
  color: red;
  position: absolute;
  top: 0;
  left: 0;
}

.card:hover .immaginenascosta{
  z-index: 20;
}

.hearts:hover{
  color: red;
}

.hearts{
  position: absolute;
  background-color: white;
  color: black;
  padding: 15px;
  top: 20px;
  right: 0;
  z-index: 50;
}

.sconto{
  position: absolute;
  background-color: red;
  color: white;
  padding: 3px;
  bottom: 100px;
  z-index: 50;
}

.sost{
  position: absolute;
  background-color: green;
  color: white;
  padding: 3px;
  bottom: 100px;
  left: 50px;
  z-index: 50;
}

.sostenibilita{
  position: absolute;
  background-color: green;
  color: white;
  padding: 3px;
  bottom: 100px;
  z-index: 50;
}

main h2{
  position: absolute;
  bottom: 24px;
  font-size: 1.2rem;
  z-index: 50;
}

.prezzo{
  position: absolute;
  z-index: 50;
  color: red;
  font-weight:bold;
  bottom: 5px;
  left: 0;
}

.brand{
  position: absolute;
  bottom: 45px;
  z-index: 50;
}

.prezzo_old{
  text-decoration: line-through;
}

footer{
  background-color: black;
  color: white;
}

footer .container{
  margin-top: 50px;
  justify-content: space-between;
}

h3{
  padding: 5px;
}

footer a:hover{
  color: rgb(68, 68, 68);
}