*{
  z-index: 10;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: #FE6900;
  color: white;
  height: 90px;
}

.container{
  max-width: 900px;
  margin: 0 auto;
}

.flex{
  display: flex;
}

.col{
  max-width: 300px;
}

.col img{
  max-width: 100%;
  height: auto;
  display: block;
  text-align: center;
}

.row{
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li{
  list-style: none;
  padding: 5px;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color:black
}

main .container{
  margin-top: 20px;
}

.card{
  cursor: pointer;
  padding: 10px;
  position: relative;
  max-width: 270px;;
}

.card:hover .hearts{
  color: red;
}

.sostenibilita{
  position: absolute;
  background-color: green;
  color: white;
  padding: 3px;
  top: 320px;
}

.sconto{
  position: absolute;
  background-color: red;
  color: white;
  padding: 3px;
  top: 320px;
}

.sost{
  position: absolute;
  background-color: green;
  color: white;
  padding: 3px;
  top: 320px;
  left: 60px;
}

.hearts{
  position: absolute;
  background-color: white;
  color: black;
  padding: 15px;
  top: 20px;
  right: 10px;
}

.card img{
  max-width: 100%;
  height: auto;
  display: block;
  text-align: center;
}

main .container.flex{
  justify-content: center;
  flex-wrap: wrap;
}

main h2{
  font-size: 0.9rem;
}

.prezzo{
  color: red;
  font-weight:bold;
}

.prezzo_old{
  text-decoration: line-through;
}